ul.dropdown-menu.pull-right.tasks-menus.show {
    padding: 1%;
    left: -20px!important;
}

ul.dropdown-menu.pull-right.tasks-menus.show li a {
    color: #858796;
}

.dark
{
  width : 100%!important;
  background-color: #1d2c5b!important;
  border-color: #1d2c5b!important;
}

.dark:hover {
  background-color: #6c7897!important;
  border-color: #6c7897!important;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  right: 13px!important;
  position: fixed!important;
  top: 0!important;
  width: 27.2%!important;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px!important;
}

.timer
{
  height: 150px;
}

textarea
{
  resize: none!important;
}
.btn-outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
.btn-outline:focus,.btn-outline:active
{
    outline: none ! important;
}

.gray
{
  border-color: #eaebef;
  color : black;
}

.gray:hover
{
  background-color: #eaebef;
  color : black;
}

/* Green */
.success {
  border-color: #4CAF50;
  color: green;
}

.success:hover {
  background-color: #4CAF50;
  color: white;
}

/* Blue */
.info {
  border-color: #2196F3;
  color: dodgerblue
}

.info:hover {
  background: #2196F3;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800;
  color: orange;
}

.warning:hover {
  background: #ff9800;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336;
  color: red
}

.danger:hover {
  background: #f44336;
  color: white;
}

/* Gray */
.default {
  border-color: #18214d;
  color: black;
}

.default:hover {
  background: #18214d;
  color: white;